In [1]:
# dictionary of lists
topnames = {'year': [2018,2018,2017,2017,2016,2016],
	    'sex': ['Male','Female','Male','Female','Male','Female'],
	    'name': ['Liam','Emma','Liam','Emma','Noah','Emma'],
	    'count': [19837,18688,18798,19800,19117,19496]}

# print the entire row with row_index = 3
topnames

{'year': [2018, 2018, 2017, 2017, 2016, 2016],
 'sex': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
 'name': ['Liam', 'Emma', 'Liam', 'Emma', 'Noah', 'Emma'],
 'count': [19837, 18688, 18798, 19800, 19117, 19496]}

In [4]:
print(topnames['year'][3], topnames['sex'][3], \
      topnames['name'][3], topnames['count'][3])

2017 Female Emma 19800

In [5]:
topnames = [[2018, 'Male', 'Liam', 19837],
	    [2018,'Female', 'Emma', 18688],
	    [2017, 'Male', 'Liam', 18798],
	    [2017,'Female', 'Emma', 19800],
	    [2016,'Male', 'Noah', 19117],
	    [2016,'Female', 'Emma', 19496]]
columns = ['year', 'sex', 'name', 'count']
# print he entire column with col_index = 3
topnames

[[2018, 'Male', 'Liam', 19837],
 [2018, 'Female', 'Emma', 18688],
 [2017, 'Male', 'Liam', 18798],
 [2017, 'Female', 'Emma', 19800],
 [2016, 'Male', 'Noah', 19117],
 [2016, 'Female', 'Emma', 19496]]

In [6]:
print(topnames[0][3], topnames[1][3], topnames[2][3], topnames[3][3], topnames[4][3], topnames[5][3])

19837 18688 18798 19800 19117 19496

In [12]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [14]:
pd.Series([10,30,-6,9])

0    10
1    30
2    -6
3     9
dtype: int64